{{/* Parameter Parsing */}}
{{ $usage := `lazyimg:
    Usage like:
    - {{ partial "lazyimg" "image.jpg" }}
    - {{ partial "lazyimg" (resources.Get "image.jpg") }}

    ...or more verbose by specifying a dict overriding the site.Params.lazyimg, e.g.:
    - {{ partial "lazyimg" (dict "resizer" "auto" "renderer" "lqip") }}
    - {{ partial "lazyimg" (dict "img" "image.jpg" "responsiveSizes" (slice "320px" "640px") "resizer" "responsive") }}

    Please ensure that image exists in ./assets directory.
` }}

{{ $params := merge site.Params.lazyimg (dict 
    "img" . 
    "resizer" (default "responsive" site.Params.lazyimg.resizer) 
    "renderer" (default "lqip" site.Params.lazyimg.renderer)
)}}
{{ if reflect.IsMap . }}
    {{ $userParams := . }}
    {{/* Normalize by transforming all keys to lower-case: */}}
    {{ range $k, $v := $userParams -}}
        {{ $userParams = $userParams | merge (dict (lower $k) $v) }}
    {{- end -}}
    {{ $params = merge $params $userParams }}
{{ end }}
{{ $resType := (printf "%T" $params.img) }}
{{ if not (in $resType "resource") }}
    {{ $params = merge $params (dict "img" (resources.Get $params.img)) }}
{{ end }}
{{ if not $params.img }}
    {{ errorf "image path ./assets/%s does not exist" $params.img }}
    {{ warnf $usage }}
{{ end }}

{{/* Special handling for WebP renderers: */}}
{{ if in $params.renderer "webp" }}
    {{/* Override user-supplied target format */}}
    {{ $resizeOptionsWebP := printf "%s webp" ($params.resizeoptions | replaceRE "(jpg|png|tif|bmp|gif)" "") }}
    {{ $paramsWebP := merge $params (dict "resizeoptions" $resizeOptionsWebP) }}
    {{ $imagesWebP := partial (printf "resizer/%s" $params.resizer) $paramsWebP }}
    {{ $imagesRegular := partial (printf "resizer/%s" $params.resizer) $params }}
    {{ partial (printf "renderer/%s" $params.renderer) (merge $params (dict "imgDict" $imagesWebP "imgDictFallback" $imagesRegular)) }}
{{ else }}
    {{ $sizes := partial (printf "resizer/%s" $params.resizer) $params }}
    {{ partial (printf "renderer/%s" $params.renderer) (merge $params (dict "imgDict" $sizes)) }}
{{ end }}

